@{
    ViewBag.Title = "Home Page";
}

<div class="nn-home-banner">
    <img src="https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-clothing-sales-pink-background-beautiful-image_8438.jpg" class="img-responsive" />
</div><!--end home banner-->
@foreach (var p in Model)
{

    <div class="nn-block-margin-top30px">
        <div class="nn-cat-title">
        </div>
        <div>
         
                <div class="col-md-3 col-sm-6 col-sx-12">
                    <div class="nn-product-box">

                        <a href="/chi-tiet/@p.Name@p.ID">
                            <img id="i@(p.ID)" class="img-responsive" alt="@p.Name" src="@p.Picture" />
                        </a>
                        <div class="nn-product-box-descriptions">
                            <h3 class="nn-product-box-name">
                                <a href="/Products/Details/@p.ID" title="@p.Name">@p.Name</a>
                            </h3>
                            <div class="nn-product-box-price ">
                            </div>
                            <div class="nn-product-box-actions">
                                <button type="button" title="Add to Cart" class="btn btn-default add-to-cart" data-id="@p.ID">
                                    <span>Add to Cart</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
          
        </div>

    </div>
    <div class="clearfix"></div>

}
